.header__navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.header__logo {
  width: 130px;
}

.header__container {
  display: flex;
}
.header__link {
  text-decoration: none;
  color: #193948;
  padding: 3px 45px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  transition: all 0.2s;
  font-weight: bold;
}

.header__link:hover {
  background: #193948;
  color: white;
}

.active {
  background: #193948;
  color: white;
}

.logo-active {
  background: #e6e6e6;
}
